/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/public/uploads/*
!/public/uploads/.keep
/config/master.key
/config/credentials/*.key
.idea
.idea/*
.vscode
.vscode/*
.rubocop_todo.yml
.env
coverage
/libyaml
libyaml/*
/app/assets/builds/*
!/app/assets/builds/.keep
