<tr>
  <td class="border border-gray-300 p-4 text-center font-semibold"><%= expert.name %></td>
  <% @defects.each do |defect| %>
    <td class="border border-gray-300 p-4 text-center">
      <%= @deltas[[defect.id, expert.id]] %>
    </td>
  <% end %>
  <td class="border border-gray-300 p-4 text-center bg-yellow-200">
    <%= @average_deltas[expert.id] %>
  </td>
  <td class="border border-gray-300 p-4 text-center bg-green-200">
    <%= @competency[expert.id] %>
  </td>
</tr>
