<tr>
  <th class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">
    <p>Defects →</p>
    <p>Experts ↓</p>
  </th>
  <% @defects.each do |defect| %>
    <th class="border border-gray-300 p-4 text-center font-semibold"><%= defect.name %></th>
  <% end %>
  <th class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">Average Delta ↓</th>
  <th class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">Competency ↓</th>
</tr>
