<%= turbo_frame_tag :consistency_table do %>
  <% if @experts.present? && @defects.present? %>
    <% if @evaluation_incomplete_error.blank? %>
      <h2 class="text-2xl font-bold mb-4">Consistency Table of Experts</h2>
      <p class="mb-4">Formula: 1 + (rating - min) * (defects_count - 1) / (max - min)</p>
      <table class="min-w-full border-collapse border border-gray-300 shadow-lg">
        <tr>
          <th class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">
            <p>Experts →</p>
            <p>Defects ↓</p>
          </th>
          <% @experts.each do |expert| %>
            <th class="border border-gray-300 p-4 text-center font-semibold"><%= expert.name %></th>
          <% end %>
        </tr>

        <% @defects.each do |defect| %>
          <tr>
            <td class="border border-gray-300 p-4 text-center font-semibold"><%= defect.name %></td>
            <% @experts.each do |expert| %>
              <td class="border border-gray-300 p-4 text-center">
                <%= @consistency[[defect.id, expert.id]] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
