<%= turbo_frame_tag :notification do %>
  <% if @building_presenter.show_notification? %>
    <p class="text-red-500 font-bold">Please make sure you entered all evaluations.</p>
  <% end %>
<% end %>
