<%= turbo_frame_tag :notification do %>
  <% unless @building_presenter.evaluations_complete? %>
    <p class="text-red-500 font-bold">Please make sure you entered all evaluations.</p>
  <% end %>
<% end %>
