<div id="<%= dom_id building %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">ID:</strong>
    <%= building.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= building.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adress:</strong>
    <%= building.adress %>
  </p>

</div>
