<%= turbo_frame_tag :tables do %>
  <% if @experts.present? && @defects.present? %>
    <div class="overflow-auto">
      <%= render 'buildings/table_builder/defects_experts_table' %>
    </div>

    <div class="overflow-auto mt-10">
      <%= render 'buildings/table_builder/delta_table' %>
    </div>
  <% end %>
<% end %>

