<%= turbo_frame_tag :flash do %>
  <% if flash[:notice] %>
    <div class="fixed top-0 left-0 w-full flex justify-center z-50" data-controller="flash">
      <div class="bg-green-500 text-white p-4 rounded m-4">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="fixed top-0 left-0 w-full flex justify-center z-50" data-controller="flash">
      <div class="bg-red-500 text-white p-4 rounded m-4">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>
<% end %>
